* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Cormorant Upright';
}
.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 8vh 70vh repeat(4, min-content);
    background-color: #222;
    color: #fff;
    overflow-x: hidden;
}

#particles-js {
    background-color: #222;
    height: 40rem;
    grid-column: 6 / 9;
    grid-row: 2 / 4;
    height: 80vh;
}
header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
     background-color: #222;
    background-size: 250%;
    transition: all .5s;
    animation: borderCard 17s linear infinite alternate;
}


.menu {
    font-size: 1.9rem;
    font-family: Lato;
    grid-column: 1 / -1;
}

.menu-item:link,
.menu-item:visited {
    padding: 1.5rem;
    color: #fff;
    z-index: 555;
    text-decoration: none;
    font-family: Lato;
    letter-spacing: 1px;
    transition: all .4s;
}

.menu-item:hover,
.menu-item:active {
    text-decoration: underline;
    color: #fff;
}

.hero {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    
}

.logo {
    grid-column: 6 / 8;
    grid-row: 2 / 3;
    z-index: 555;
    justify-self: center;
    align-self: end;
    font-family: 'Libre Baskerville';
    text-transform: uppercase;
    letter-spacing: 35px;
    font-size: 8rem;
    font-weight: 700;
    background: -webkit-linear-gradient(to left bottom, #dc28f4, #1571ba, #f20056);
     background: linear-gradient(to left bottom, #dc28f4, #5ea8e3 10%, #ff005b);
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
     text-fill-color: transparent; 
}

.hero-container {
    height: 80vh;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    overflow: hidden;
    background-image: linear-gradient(105deg, #222, rgba(34, 34, 34, 0.26), #222), url('img/640px-Fischotter,_Lutra_Lutra.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 222;
}





.about {
    grid-row: 3 / 4;
   grid-column: 1 / -1;
    margin-top: 15rem;
}

.logo::after
 {
    content: "";
    height: 2px;
    width: 100%;
    background-image: linear-gradient(90deg, #7c4dff, #101371, #ff4081, #e040fb, #7c4dff);
    background-size: 400%;
    display: block;
    transition: all .5s;
    animation: borderCard 17s linear infinite alternate;
}

.about-text::after,
.feed-text::after,
.find-text::after {
    content: "";
    height: 2px;
    width: 100%;
    background-image: linear-gradient(90deg, #7c4dff, #101371, #ff4081, #e040fb, #7c4dff);
    background-size: 400%;
    display: block;
    transition: all .5s;
    animation: borderCard 17s linear infinite alternate;
    margin-top: 5rem;
}
@keyframes borderCard {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
.wrapper {
    grid-column: 3 / 7;
}
.about-text,
.feed-text,
.find-text {
    text-align: left;
    margin: 7rem auto;
    font-size: 1.8rem;
    font-family: Lato;
    line-height: 1.6;
} 

.feed {
    grid-column: 1 / -1;
    grid-row: 4/ 5;
}
.find {
    grid-column: 1 / -1;
    grid-row: 5/ 6;
}

h2 {
    text-align: center;
    font-family: 'Libre Baskerville';
    font-size: 3rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: block;
    padding: 4rem;
}

.icon-about {
    font-size: 4rem;
}

footer {
    grid-column: 1 / -1;
    padding: 5rem;
    background-image: linear-gradient(90deg, #7c4dff, #ff4081, #e040fb, #7c4dff);
    background-size: 250%;
    transition: all .5s;
    animation: borderCard 17s linear infinite alternate;
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 2px;
    color: #222;
}

::selection {
     background-color: #ff4081;
    color: #fff;
}